<!-- in views/links/index.erb -->
<h1> Links </h1>

<a href='/links/new' class='btn btn-default'> New Link </a>
<% if @links.count.zero? %>
  <p> No links avaliable </p>
<% else %>
  <ul id='links'>
    <% @links.each do |link| %>
      <li>
        Title: <%= link.title %>
        URL:   <%= link.url   %>
      </li>
    <% end %>
  </ul>
<% end %>
