<!-- in views/links/index.erb -->
<h1> Links </h1>

<a href='/links/new' class='btn btn-default'> New Link </a>
<a href='/tags' class='btn btn-default'> View Tags </a>
<% if @links.count.zero? %>
  <p> No links avaliable </p>
<% else %>
  <ul id='links'>
    <% @links.each do |link| %>
      <li id="link<%= link.id %>">
        Title: <%= link.title %>
        URL:   <%= link.url   %>
        Tags:
        <% link.tags.each do |tag| %>
          <%= tag.name %>
        <% end  %>
      </li>
    <% end %>
  </ul>
<% end %>
