<form action="/tags" method='POST'>
  <div class='form-group'>
    <label for='name'>
      Name
    </label>
    <input type="text" id='name' name='name' class="form-control">
  </div>
  <div class='form-group'>
    <input type='submit' value='Create tag' class='btn btn-default'/>
  </div>
</form>
<a href='/links' class='btn btn-default'> View Tags </a>
